# TP NoSQL

Prénom : Mohammed

Nom : BOUKOUIREN

Pour ce TP noté vous avez trois heures pour le réaliser et 48 heures pour le finir si besoin. Le rendu final est attendu pour dimanche 29 septembre 2024 à 23 h 59.

Vous serrez évalués sur les requêtes mais également sur la qualité et la propreté du code. Pour chaque question, une réponse présentant les résultats est attendue.

In [5]:
# installation des packages pandas et pymongo
!pip install -r requirements.txt --quiet

In [9]:
import pymongo
import pandas as pd

URI = 'mongodb+srv://momo:B7mL6OI1BvkI8bWg@clusternosql.c7f3h.mongodb.net/?retryWrites=true&w=majority&appName=ClusterNoSQL'
client = pymongo.MongoClient(URI)
db = client.TP

# output the name of the collections in the database
print("Collections: ", db.list_collection_names())

Collections:  ['movies', 'restaurants']

1. Combien de films sont dans la base de données ?

In [11]:

nombre_films = db.movies.count_documents({})
print("Nombre total de films dans la base de données :", nombre_films)

Nombre total de films dans la base de données : 23530

2. Quel est le nombre moyen de votes par pays ? Trier les pays par nombre moyen de votes décroissant.

In [109]:
votes_moyens_par_pays = list(db.movies.aggregate([
    {"$unwind": "$countries"},  
    {"$group": {
        "_id": "$countries",  
        "MoyenneDesVotes": {"$avg": "$imdb.votes"}  
    }},
    {"$sort": {"MoyenneDesVotes": -1}}  
]))

votes_moyens_par_pays = pd.DataFrame(votes_moyens_par_pays)

print("Nombre moyen de votes par pays :\n", votes_moyens_par_pays)

print("Le nombre moyen de vote à Malta est de 210 571.")

Nombre moyen de votes par pays :
                       _id  MoyenneDesVotes
0                   Malta    210571.800000
1                 Bahamas    206061.000000
2             New Zealand     66589.269231
3    United Arab Emirates     53495.833333
4                     USA     35016.703663
..                    ...              ...
153                Kosovo       104.500000
154               Moldova       104.000000
155           North Korea        92.666667
156                Brunei        51.000000
157               Vanuatu         6.000000

[158 rows x 2 columns]
Le nombre moyen de vote à Malta est de 210 571.

3. Donner la liste des différents genres de films.

In [111]:
differents_genres_films = db.movies.distinct("genres")

differents_genres_films = pd.DataFrame(differents_genres_films)

print("Genres distincts :", differents_genres_films)

Genres distincts :               0
0        Action
1     Adventure
2     Animation
3     Biography
4        Comedy
5         Crime
6   Documentary
7         Drama
8        Family
9       Fantasy
10    Film-Noir
11      History
12       Horror
13        Music
14      Musical
15      Mystery
16         News
17      Romance
18       Sci-Fi
19        Short
20        Sport
21    Talk-Show
22     Thriller
23          War
24      Western

4. Combien de films ont une note IMDb supérieure à 8 ?

In [53]:
nombre_films_superieur_8 = db.movies.count_documents({"imdb.rating": {"$gt": 8}})  
print("Nombre de films avec une note IMDb supérieure à 8 :", nombre_films_superieur_8)

Nombre de films avec une note IMDb supérieure à 8 : 1177

5. Afficher le titre, l'année de sortie et les réalisateurs de tous les films (ne pas afficher l'ID).

In [115]:
liste_films = list(db.movies.find({}, {"title": 1, "year": 1, "directors": 1, "_id": 0}))
liste_films = pd.DataFrame(liste_films)

print("Titre, Année de sortie et Réalisateurs de tous les films :\n", liste_films)

print("Le film 'The Poor Little Rich Girl est sorti en 1916 et réalisé par D.W Griffith'.")

Titre, Année de sortie et Réalisateurs de tous les films :
                                                   title  \
0      Intolerance: Love's Struggle Throughout the Ages
1                             The Poor Little Rich Girl
2                                               The Kid
3                                        Miss Lulu Bett
4                                          Safety Last!
...                                                 ...
23525                                            Emelie
23526                                    Techo y comida
23527                                             Nahid
23528                                  Coin Locker Girl
23529                                 Tryapichnyy soyuz

                            directors  year
0                     [D.W. Griffith]  1916
1                  [Maurice Tourneur]  1917
2                   [Charles Chaplin]  1921
3               [William C. de Mille]  1921
4      [Fred C. Newmeyer, Sam Taylor]  1923
...                               ...   ...
23525                [Michael Thelin]  2015
23526      [Juan Miguel del Castillo]  2015
23527                [Ida Panahandeh]  2015
23528                   [Jun-hee Han]  2015
23529            [Mikhail Mestetskiy]  2015

[23530 rows x 3 columns]
Le film 'The Poor Little Rich Girl est sorti en 1916 et réalisé par D.W Griffith'.

6. Afficher le titre et le plot des films réalisés par D.W. Griffith.

In [41]:
liste_films_griffith = list(db.movies.find(
    {"directors": "D.W. Griffith"},  
    {"title": 1, "plot": 1, "_id": 0}  
))
liste_films_griffith = pd.DataFrame(liste_films_griffith)
print("Titre et Plot des films réalisés par D.W. Griffith :\n", liste_films_griffith)


print("\nUn des titres de Griffith est 'Intolerance: Love's Struggle Throughout the Ages' et son plot commence par 'The story of a poor young woman, separated by...'.")

Titre et Plot des films réalisés par D.W. Griffith :
                                                 plot  \
0  The story of a poor young woman, separated by ...
1  A greedy tycoon decides, on a whim, to corner ...
2  A frail waif, abused by her brutal boxer fathe...
3  The Civil War divides friends and destroys fam...

                                              title
0  Intolerance: Love's Struggle Throughout the Ages
1                                 A Corner in Wheat
2    Broken Blossoms or The Yellow Man and the Girl
3                             The Birth of a Nation

Un des titres de Griffith est 'Intolerance: Love's Struggle Throughout the Ages' et son plot commence par 'The story of a poor young woman, separated by...'.

7. Quels sont les 5 acteurs les plus populaires (ceux qui ont joué dans le plus de films) ?

In [49]:
top_5_acteurs_populaires = list(db.movies.aggregate([
    {"$unwind": "$cast"}, 
    {"$group": {
        "_id": "$cast",  
        "nombreFilms": {"$sum": 1}  
    }},
    {"$sort": {"nombreFilms": -1}},  
    {"$limit": 5} 
]))

top_5_acteurs_populaires = pd.DataFrame(top_5_acteurs_populaires)

print("Les 5 acteurs les plus populaires :", top_5_acteurs_populaires)
print("\nL'acteur qui a joué dans le plus de films est Gérard Depardieu avec 68 films.")

Les 5 acteurs les plus populaires :                     _id  nombreFilms
0      Gèrard Depardieu           68
1        Robert De Niro           60
2         Michael Caine           52
3  Marcello Mastroianni           50
4          Bruce Willis           49

L'acteur qui a joué dans le plus de films est Gérard Depardieu avec 68 films.

8. Quelles sont les 6 années avec le plus de films produits ?

In [71]:
top_6_annees_populaires = list(db.movies.aggregate([
    {"$group": {
        "_id": "$year",  
        "NombreDeFilms": {"$sum": 1}  
    }},
    {"$sort": {"nombreFilms": -1}},  
    {"$limit": 6} 
]))

top_6_annees_populaires = pd.DataFrame(top_6_annees_populaires)

print("Les 6 années avec le plus de films produits:\n", top_6_annees_populaires)

print("L'année avec le plus de films produits est 2013 avec 1220 films produits.")

Les 6 années avec le plus de films produits:
      _id  NombreDeFilms
0   1925             13
1   1943             36
2   1918              1
3  2009è              2
4   1913              1
5   2012           1109
L'année avec le plus de films produits est 2013 avec 1220 films produits.

9. Combien de films ont été réalisés avant l'année 2000 et ont une note IMDb supérieure à 7 ?

In [57]:
nombre_films_avant_2000_et_note_superieur_7 = db.movies.count_documents({
    "year": {"$lt": 2000},  
    "imdb.rating": {"$gt": 7}  
})

print("Nombre de films réalisés avant l'année 2000 et ayant une note IMDb supérieure à 7 :", nombre_films_avant_2000_et_note_superieur_7)

Nombre de films réalisés avant l'année 2000 et ayant une note IMDb supérieure à 7 : 4747

10. Donner les 20 réalisateurs qui ont réalisé le plus de films (afficher seulement leur nom et le nombre de films).

In [81]:
top_20_realisateurs_plus_de_films = list(db.movies.aggregate([
    {"$unwind": "$directors"},
    {"$group": {
        "_id": "$directors",  
        "nombreFilms": {"$sum": 1}  
    }},
    {"$sort": {"nombreFilms": -1}},  
    {"$limit": 20}  
]))

top_20_realisateurs_plus_de_films = pd.DataFrame(top_20_realisateurs_plus_de_films)

print("Le top 20 des réalisateurs avec le plus de films :\n" ,top_20_realisateurs_plus_de_films)

print("Le réalisateur avec le plus de films est Woody Allen avec 40 films.")

Le top 20 des réalisateurs avec le plus de films :
                   _id  nombreFilms
0         Woody Allen           40
1           John Ford           35
2       Takashi Miike           34
3         John Huston           34
4       Werner Herzog           33
5     Martin Scorsese           32
6    Alfred Hitchcock           31
7        Sidney Lumet           30
8        George Cukor           29
9       Michael Apted           29
10   Steven Spielberg           29
11    Mario Monicelli           29
12  Steven Soderbergh           28
13          Spike Lee           28
14      Robert Altman           28
15        Wim Wenders           27
16    Jean-Luc Godard           27
17          Ken Loach           27
18         Johnnie To           27
19     Clint Eastwood           27
Le réalisateur avec le plus de films est Woody Allen avec 39 films.

11. Quelle est la note IMDb moyenne des films sortis après 2010 ?

In [97]:
note_imdb_moyenne = list(db.movies.aggregate([
    {"$match": {"year": {"$gt": 2010}}},  
    {"$group": {
        "_id": None, 
        "moyenneNote": {"$avg": "$imdb.rating"}  # Calculer la moyenne des notes IMDb
    }}
]))

note_imdb_moyenne = pd.DataFrame(note_imdb_moyenne)

print("La note IMDb moyenne des films sortis après 2010 :\n", note_imdb_moyenne)

La note IMDb moyenne des films sortis après 2010 :
     _id  moyenneNote
0  None     6.544033

12. (bonus) Afficher les films dont le titre contient le mot "love".

In [101]:
films_avec_mot_love = list(db.movies.find({"title": {"$regex": "^love", "$options": "i"}}, 
                                    {"_id": 0, "title": 1, "year": 1}))  

films_avec_mot_love = pd.DataFrame(films_avec_mot_love)

print("Films dont le titre contient le mot 'love' :\n", films_avec_mot_love)

Films dont le titre contient le mot 'love' :
                                title  year
0              Love Finds Andy Hardy  1938
1                    Love Me Tonight  1932
2                   Love on the Dole  1941
3    Love Is a Many-Splendored Thing  1955
4                Love Me or Leave Me  1955
..                               ...   ...
123              Love at First Fight  2014
124                      Love Steaks  2013
125        Love Is the Perfect Crime  2013
126                        Lovemilla  2015
127                             Love  2015

[128 rows x 2 columns]

13. (bonus) Afficher le titre des films ayant un score Rotten Tomatoes (viewer) supérieur à 75.

In [131]:
films_score_Rotten_superieur_75 = list(db.movies.find({"tomatoes.viewer.meter" : {"$gt" : 75}}, {"_id" : 0, "title" : 1, "tomatoes.viewer.meter" :1}))

films_score_Rotten_superieur_75 = pd.DataFrame(films_score_Rotten_superieur_75)

print("Titre des films ayant un score Rotten Tomatoes supérieur à 75 :\n")

print("Le film 'The Poor Little Rich Girl' a un score de 77.")

films_score_Rotten_superieur_75

Titre des films ayant un score Rotten Tomatoes supérieur à 75 :

Le film 'The Poor Little Rich Girl' a un score de 77.

,title,tomatoes
0,Intolerance: Love's Struggle Throughout the Ages,{'viewer': {'meter': 78}}
1,The Poor Little Rich Girl,{'viewer': {'meter': 77}}
2,The Kid,{'viewer': {'meter': 96}}
3,Safety Last!,{'viewer': {'meter': 93}}
4,Wild Oranges,{'viewer': {'meter': 91}}
...,...,...
6597,Luton,{'viewer': {'meter': 100}}
6598,Amira & Sam,{'viewer': {'meter': 76}}
6599,Misconception,{'viewer': {'meter': 100}}
6600,Grace,{'viewer': {'meter': 86}}
6601,Batman: Assault on Arkham,{'viewer': {'meter': 86}}